*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: var(--font-family);
  color: var(--text);
  font-size: 1.6rem;
  max-width: 100% !important;}

p {
  margin: 1rem 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0 2rem 0; }

ul {
  list-style: none; }

a {
  color: var(--text);
  text-decoration: none; }

img {
  max-width: 100%; }

.mb-5 {
  margin-bottom: 5rem !important; }

.mb-2 {
  margin-bottom: 2rem !important; }

.title-small {
  letter-spacing: 0.5rem;
  font-size: 1.7rem; }

.text-primary {
  color: var(--primary); }

.text-hint {
  color: var(--hint); }

@keyframes bounce {
  0% {
    transform: rotate(-45deg); }
  10% {
    transform: rotate(-35deg); }
  70% {
    transform: rotate(20deg); }
  80% {
    transform: rotate(-10deg); }
  90% {
    transform: rotate(5deg); }
  100% {
    transform: rotate(0deg); } }

.grid-container {
  display: grid;
  grid: "picture header" auto "aside main" 1fr "footer footer" auto / 350px auto; }
  @media (max-width: 480px) {
    .grid-container {
      grid: "header" auto "main" auto "picture" auto "aside" auto "footer" auto / auto; } }

header {
  grid-area: header;
  background: linear-gradient(to right, var(--primary), var(--light));
  padding: 4rem 3rem;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media (max-width: 480px) {
    header {
      max-height: 300px;
      padding: 5rem 2rem; } }
  header h1 {
    font-size: 3rem;
    line-height: 8rem;
    font-weight: 300;
    letter-spacing: 3rem; }
    @media (max-width: 480px) {
      header h1 {
        font-size: 4rem; } }
  header p {
    font-size: 40px;
    letter-spacing: 0.5rem; }
  header span {
    display: inline-block;
    animation: bounce 2s; }

.picture {
  grid-area: picture;
  max-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  background: var(--background);
  border-right: 1px solid var(--border); }
  .picture img {
    width: 150px;
    border-radius: 50%; }
    @media (max-width: 480px) {
      .picture img {
        width: 200px; } }

aside {
  grid-area: aside;
  background: var(--background);
  border-right: 1px solid var(--border);
  padding: 5rem; }
  aside .block {
    margin-bottom: 4rem; }
    aside .block h3 {
      margin-bottom: 0;
      font-size: 1.4rem; }
    aside .block p {
      margin-bottom: 1.5rem;
      margin-top: 0; }
    aside .block p a:hover {
      color: blue; }
    aside .block li {
      list-style: circle;
      margin: 0 0 2rem 2rem; }
      aside .block li span {
        margin-left: 2rem; }
      aside .block li .letter-color {
        color: blue;
        font-weight: 700;
        margin-left: 0; }
    aside .block .bar-skill {
      margin: 1.5rem 1rem 3rem 0;
      height: 5px;
      background: var(--hint);
      position: relative; }
      aside .block .bar-skill .bar-skill-progress {
        position: absolute;
        height: 5px;
        top: 0;
        left: 0;
        width: 80%;
        background: var(--light); }
      aside .block .bar-skill .bar-skill-dot {
        position: absolute;
        height: 10px;
        width: 10px;
        background: var(--dark);
        left: calc(80% - 5px);
        top: -2.5px;
        transform: rotate(45deg); }

      aside .block .bar-skill .bar-skill-progress-html {
        position: absolute;
        height: 5px;
        top: 0;
        left: 0;
        width: 90%;
        background: var(--light); }
      aside .block .bar-skill .bar-skill-dot-html {
        position: absolute;
        height: 10px;
        width: 10px;
        background: var(--dark);
        left: calc(90% - 5px);
        top: -2.5px;
        transform: rotate(45deg); }

      aside .block .bar-skill .bar-skill-progress-scss {
        position: absolute;
        height: 5px;
        top: 0;
        left: 0;
        width: 90%;
        background: var(--light); }
      aside .block .bar-skill .bar-skill-dot-scss {
        position: absolute;
        height: 10px;
        width: 10px;
        background: var(--dark);
        left: calc(90% - 5px);
        top: -2.5px;
        transform: rotate(45deg); }

      aside .block .bar-skill .bar-skill-progress-angular {
        position: absolute;
        height: 5px;
        top: 0;
        left: 0;
        width: 85%;
        background: var(--light); }
      aside .block .bar-skill .bar-skill-dot-angular {
        position: absolute;
        height: 10px;
        width: 10px;
        background: var(--dark);
        left: calc(85% - 5px);
        top: -2.5px;
        transform: rotate(45deg); }

      aside .block .bar-skill .bar-skill-progress-react {
        position: absolute;
        height: 5px;
        top: 0;
        left: 0;
        width: 75%;
        background: var(--light); }
      aside .block .bar-skill .bar-skill-dot-react {
        position: absolute;
        height: 10px;
        width: 10px;
        background: var(--dark);
        left: calc(75% - 5px);
        top: -2.5px;
        transform: rotate(45deg); }

      aside .block .bar-skill .bar-skill-progress-nestjs {
        position: absolute;
        height: 5px;
        top: 0;
        left: 0;
        width: 70%;
        background: var(--light); }
      aside .block .bar-skill .bar-skill-dot-nestjs {
        position: absolute;
        height: 10px;
        width: 10px;
        background: var(--dark);
        left: calc(70% - 5px);
        top: -2.5px;
        transform: rotate(45deg); }

      aside .block .bar-skill .bar-skill-progress-nodejs {
        position: absolute;
        height: 5px;
        top: 0;
        left: 0;
        width: 80%;
        background: var(--light); }
      aside .block .bar-skill .bar-skill-dot-nodejs {
        position: absolute;
        height: 10px;
        width: 10px;
        background: var(--dark);
        left: calc(80% - 5px);
        top: -2.5px;
        transform: rotate(45deg); }

      aside .block .bar-skill .bar-skill-progress-mysql {
        position: absolute;
        height: 5px;
        top: 0;
        left: 0;
        width: 70%;
        background: var(--light); }
      aside .block .bar-skill .bar-skill-dot-mysql {
        position: absolute;
        height: 10px;
        width: 10px;
        background: var(--dark);
        left: calc(70% - 5px);
        top: -2.5px;
        transform: rotate(45deg); }

      aside .block .bar-skill .bar-skill-progress-graphql {
        position: absolute;
        height: 5px;
        top: 0;
        left: 0;
        width: 50%;
        background: var(--light); }
      aside .block .bar-skill .bar-skill-dot-graphql {
        position: absolute;
        height: 10px;
        width: 10px;
        background: var(--dark);
        left: calc(50% - 5px);
        top: -2.5px;
        transform: rotate(45deg); }

      aside .block .bar-skill .bar-skill-progress-adminsys {
        position: absolute;
        height: 5px;
        top: 0;
        left: 0;
        width: 50%;
        background: var(--light); }
      aside .block .bar-skill .bar-skill-dot-adminsys {
        position: absolute;
        height: 10px;
        width: 10px;
        background: var(--dark);
        left: calc(50% - 5px);
        top: -2.5px;
        transform: rotate(45deg); }

    aside .block .stars-container {
      display: flex;
      margin: 2rem 0 3rem 0;
      color: var(--hint); }

    aside .block .stars-container i {
      font-size: 2rem;
      margin: 0 1rem; }

    aside .block .social-container {
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 1rem 1rem;
      border-radius: 5px;
      transition: all 0.2s;
      cursor: pointer; }

    aside .block .social-container:hover {
      background: var(--border); }

    aside .block .social-container:hover i {
      color: var(--primary);
      transform: scale(1.3);
      transition: all 0.2s; }

    aside .block .social-container i {
      font-size: 2rem;
      flex: 0 0 0;
      margin-right: 1rem; }

    aside .block .social-container p {
      flex: auto;
      margin: 0; }

    aside .block .react {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center; }
      aside .block .react h3 {
        margin: 0; }

    aside .block .Angular {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center; }
      aside .block .Angular h3 {
        margin: 0 0.5rem; }

    aside .block .nestJS {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center; }
      aside .block .nestJS h3 {
        margin: 0 1rem; }

    aside .block .nodeJS {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center; }
      aside .block .nodeJS h3 {
        margin: 0 1rem; }

    aside .block .scss {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center; }
      aside .block .scss h3 {
        margin: 0 1rem; }

    aside .block .html {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center; }
      aside .block .html h3 {
        margin: 0 1rem; }

    aside .block .mysql {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center; }
      aside .block .mysql h3 {
        margin: 0 1rem; }

    aside .block .graphql {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center; }
      aside .block .graphql h3 {
        margin: 0 1rem; }

    aside .block .adminsys {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center; }
      aside .block .adminsys h3 {
        margin: 0 1rem; }

main {
  grid-area: main;
  padding: 5rem; }
  @media (max-width: 480px) {
    main {
      padding: 5rem 1.5rem; } }
    main h2 {
    margin-bottom: 4rem; }
    main p {
    letter-spacing: 0.1rem;
    line-height: 3rem; }
    main span:hover {
    border-bottom: 1px solid;
    background: var(--border); }
    main a {
    font-weight: 700;
    color: blue; }
    main .experience {
    display: flex;
    margin: 6rem 0; }
    main .experience .timeline {
      text-align: center;
      color: var(--hint);
      padding-right: 2rem;
      border-right: 1px solid var(--border); }
      main .experience .timeline p {
        margin: 0;
        min-width: 70px; }
    main .experience .content {
      padding: 0 1rem; }
      main .experience .content h3 {
        margin: 0; }
      main .experience .content p {
        margin: 0; }
      main .experience .content ul {
        margin: 2rem 0;
        list-style: circle;
        padding-left: 4rem; }

footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 5rem;
  background: var(--text); }
  @media (max-width: 480px) {
    footer {
      padding: 5rem 1.5rem; } }
    footer h2 {
    margin-bottom: 3rem; }
    footer form {
    display: flex;
    align-items: center; }
    footer form .prefix {
      background: linear-gradient(to right, var(--dark), var(--light));
      padding: 1rem 2rem;
      color: white;
      font-size: 2rem;
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem; }
    footer form button {
      background: var(--text);
      border: 0;
      cursor: pointer;
      transition: all 0.2s; }
      footer form button:hover {
        opacity: 0.8; }
      footer form button .postfix {
        background: linear-gradient(to right, var(--dark), var(--light));
        padding: 1rem 2rem;
        color: white;
        font-size: 2rem;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem; }
      footer form input {
      outline: 0;
      border: 0;
      min-width: 400px;
      padding: 1rem 2rem;
      line-height: 2rem; }
      @media (max-width: 480px) {
        footer form input {
          min-width: 200px; } }
      footer form input::placeholder {
        color: var(--text); }
